body {
	background: url(/client/images/homepage2.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-0-background-size: cover;
	background-size: cover;
	text-align: center;
}

.white-text {
	color: white;
}

.center-form {
	text-align: center;
}

.form-control {
	display: inline !important;
	width: 50% !important;
}

#content {
	position:fixed;
    top: 50%;
    left: 50%;
    width:50em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -25em; /*set to a negative number 1/2 of your width*/
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
}